/* Universal Styling */
:root {
  --carolinablue: rgb(75, 156, 211);
}

*,
*::before,
*::after {
  box-sizing: border-box;

  transition: all 0.3s ease-in-out;
  /* debugging  */
  /* border: 1px solid red; */

  /* Default Font  */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

body {
  margin: 0;
  min-height: 100vh;
  background-image: linear-gradient(
    rgba(51, 126, 255, 0.3) 0%,
    rgba(44, 149, 255, 0.6) 100%
  );
}

.container {
  margin: 1rem;
  text-align: center;
}

ul {
  text-decoration: none;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Condensed", sans-serif;
}

/* NavBar Stylings */
.nav {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
}

.site-title {
  font-size: 2rem;
}

.nav a {
  text-decoration: none;
}

.nav a:visited {
  color: inherit;
  text-decoration: none;
}

.navbar {
  display: flex;
}

.navbar ul {
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
  list-style: none;
}

.navbar li {
  padding: 7px 20px;
  color: inherit;
  text-decoration: none;
  font-size: 20px;
  height: 100%;
}

.navbar li:active {
  background-color: #555;
}

.navbar li:hover {
  text-decoration: none;
  background-color: white;
  color: goldenrod;
  border-radius: 10px;
  box-shadow: inset 0px 0px 8px maroon, 0 0 10px maroon;
}

.pageTitle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pageTitle h1 {
  padding: 20px;
  color: white;
  background-color: maroon;
  width: fit-content;
  border-radius: 20px;
  font-size: 50px;
  letter-spacing: 0.3rem;
  border: 0.3rem solid goldenrod;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* Home Styles */

.intro-container {
  display: flex;
  justify-content: space-around;
}

.aboutMe {
  display: flex;
  margin-left: 20px;
  width: 28%;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: maroon;
  border: 0.3rem solid goldenrod;
  padding: 10px;
}

.aboutMe h2 {
  color: goldenrod;
  font-size: 30px;
}

.aboutMe p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  text-shadow: 1px 1px rgb(45, 45, 45);
  text-align: left;
  font-size: 22px;
  letter-spacing: 0.1rem;
}

.headshot {
  display: inline;
  padding: 0;
  margin: 0;
}

.headshot img {
  width: auto;
  height: 400px;
  border-radius: 40%;
}

.technology {
  display: flex;
  flex-direction: column;
  background-color: maroon;
  border: 0.3rem solid goldenrod;
  padding: 10px;
  width: 30%;
  flex-wrap: wrap;
}

.technology h2 {
  color: goldenrod;
  font-size: 30px;
}

.technology img {
  width: 120px;
  height: 120px;
  margin-right: 10px;
  object-fit: cover;
}

#mern {
  width: auto;
  height: 200px;
  margin-top: 10px;
  object-fit: cover;
  border-radius: 30%;
}

/* FullStack Styling */

.FScontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: maroon;
  border: 0.3rem solid goldenrod;
  padding: 10px;
  color: white;
}

.FScontainer h2 {
  font-size: 40px;
}

.fsInfo {
  font-size: 30px;
}

.appTechnology {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.appTechnology ul {
  display: flex;
}

.appTechnology h2 {
  color: goldenrod;
  font-size: 30px;
}

.appTechnology img {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  object-fit: cover;
}

#github {
  background-color: rgb(88, 172, 255);
  color: white;
  box-shadow: 2px 2px black;
}

#github:hover {
  background-color: white;
  color: rgb(88, 172, 255);
}

#live {
  background-color: goldenrod;
  color: white;
  box-shadow: 2px 2px black;
}

#live:hover {
  background-color: white;
  color: goldenrod;
}

.siteButtons a {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  background-color: goldenrod;
  color: white;
  font-size: 40px;
  border-radius: 20px;
  padding: 7px 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.siteButtons a:hover {
  background-color: white;
  color: goldenrod;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.siteButtons a,
.siteButtons a:hover {
  text-decoration: none;
}

/* Front / Back End Stylings */
.app {
  padding: 20px;
}

.app img {
  width: auto;
  height: 300px;
}

.techImage {
  margin-top: 20px;
}

.em {
  padding: 20px;
}

.em img {
  height: 300px;
  width: auto;
}

.em:hover img {
  height: 500px;
}

.techImage img {
  width: 450px;
}


.app {
  padding: 20px;
}

.app p {
  flex-wrap: wrap;
}

#grid {
  height: 100vh;
  transition: 500ms;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3px;
  background: white;
}

:where(.left, .center, .right) {
  background: goldenrod;
  transition: 500ms;
}

:where(.left, .center, .right):hover {
  background: maroon;
  color: white;
}

:where(.left, .center, .right):hover h2 {
  font-size: 40px;
}

:where(.left, .center, .right):hover img {
  height: 400px;
  width: auto;
}


:where(.left, .center, .right):hover h3 {
  font-size: 40px;
}

:where(.left, .center, .right):hover p {
  font-size: 25px;
}

#grid:has(.left:hover) {
  grid-template-columns: 2fr 0.5fr 0.5fr;
}

#grid:has(.center:hover) {
  grid-template-columns: 0.5fr 2fr 0.5fr;
}

#grid:has(.right:hover) {
  grid-template-columns: 0.5fr 2fr 0.5fr;
}

/* Contact Styles */

.contactContainer {
  display: flex;
  height: fit-content;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
}

.contactBox {
  background-image: linear-gradient(rgb(0, 2, 106), var(--carolinablue));
  color: white;
  padding: 10px;
  width: 40%;
  box-shadow: 2px 2px black;
}

.contactBox p {
  font-size: 35px;
  letter-spacing: 0.1rem;
  text-align: left;
  padding: 10px;
  font-family: "Roboto Condensed", sans-serif;
}

#Resume button {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: goldenrod;
  color: white;
  font-size: 40px;
  border-radius: 20px;
  padding: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#Resume button:hover {
  background-color: white;
  color: goldenrod;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

/* Form Styles */

.contactForm {
  padding: 10px;
  font-size: 30px;
}
.contactForm input {
  width: 50%;
  height: 20%;
  margin: 10px;
}

.contactForm textarea {
  width: 50%;
}

.contactForm button {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: maroon;
  color: white;
  font-size: 40px;
  border-radius: 20px;
  padding: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.contactForm button:hover {
  background-color: white;
  color: maroon;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

/* Footer Styles */

.footer {
  width: 100vw;
  height: fit-content;
  display: flex;
  text-align: center;
  align-items: flex-end;
  background-color: maroon;
}

.footer h2 {
  font-size: 30px;
  color: goldenrod;
}

/* .footer h3 {
  font-size: 25px;
  color: goldenrod;
  text-align: left;
}

.footer img {
  width: 150px;
  height: auto;
}  */

/*content*/
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer p {
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}
/*social -media*/
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
  padding: 20px;
  background-color: rgb(241, 241, 241, 0.4);
  border-radius: 30px;
}
.socials li {
  margin: 0 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.socials li:hover {
  background-color: goldenrod;
  border-radius: 40%;
}
.socials a {
  text-decoration: none;
  color: #fff;
  padding: 5px;
  border-radius: 50%;
}
.socials a img {
  font-size: 1.1rem;
  width: 70px;
  transition: color 0.4s ease;
}
